@media only screen and (max-width: 800px) {
    div.answers {
        flex-direction: column;
    }

    div.question {
        min-height: 120px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(86, 14, 71);
}

.container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 8rem 0;
    gap: 70px;
}

.container h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    text-shadow: 1.5px 1.5px 3.25px #000000;
    color: rgb(255 193 223);
}

.questionBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    width: 82%;
    margin-bottom: 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2.5px #000000;
    color: rgb(255 193 223);
    min-height: 80px;
    text-align: center;
}

.answers {
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    gap: 15px;
    margin-bottom: 40px;
}

.answer {
    width: 40%;
    min-width: 220px;
    height: 50px;
    background-color: rgb(255 182 224);
    color: rgb(96 24 72);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.418), 0 6px 20px 0 rgba(0, 0, 0, 0.347);
    text-shadow: 1px 1px 2.5px #af42a2;
}

.answer:hover {
    cursor: pointer;
    border: 1px solid black;
}

.results {
    width: 40%;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
}

.result {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgba(255, 182, 225, 0.684);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.418), 0 6px 20px 0 rgba(0, 0, 0, 0.347);
    overflow: hidden;
    position: relative;
}

.filler {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    background-color: rgb(214, 36, 36);
    transition: all 0.75s;
}

.showed-result {
    bottom: 0%;
}

.correct-answer {
    background-color: rgb(48, 205, 56);
}

.two-answer {
    visibility: hidden;
}